In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [18]:
df = pd.read_csv("homeprices_multi.csv")
df.head(4)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      6 non-null      int64
 1   bedrooms  5 non-null      float64
 2   age       6 non-null      int64
 3   price     6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes

In [20]:
import math
median_bedrooms = math.floor(df.bedrooms.median())

In [21]:
median_bedrooms

4

In [22]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      6 non-null      int64
 1   bedrooms  6 non-null      float64
 2   age       6 non-null      int64
 3   price     6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes

In [25]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [27]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)   # price is target variable

LinearRegression()

In [28]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [29]:
reg.intercept_

221323.00186540408

In [30]:
reg.predict([[3000, 2, 14]])

array([559044.03712682])

In [32]:
# y = m1*x1 + m2*x2 + m3*x3 + c
y = 112.06244194*3000 + 23388.88007794*2 + (-3231.71790863)*14 + 221323.00186540408
y

559044.037120464